body {
    text-align:center;
}


.langA {
    /* float: right; */
    /* text-align: right; */
}

.langB {
    float: left;
    border-right: 1px solid;
    margin-right: 4px;
    padding-right: 4px;
}

button#showA {
    position: fixed;
    right: 50%;
    top: 10px;
}

.phrase {
    font-size: 100px;
}

.answer {/* width: 80%; */}